# SFDX and Salesforce DX
.sfdx/
*.log
*.tmp
*.local

# VSCode
.vscode/

# MacOS
.DS_Store

# Node
node_modules/

# IDE
.idea/
*.iml

# NPM/Yarn
package-lock.json
yarn.lock

# Coverage reports
coverage/
nyc_output/

# Salesforce
*.scratch-def.json
*.orgMetadata.json

# Tests and local artifacts
*.test.js
.apex.db
.apex/
.apexlogs/
